<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812473584481-ssrtp6n2fdf5duvd3n1tag4auhkoafgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812473584481-ssrtp6n2fdf5duvd3n1tag4auhkoafgu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>812473584481-eftuvlhitlrgttr6gpdms6feos5djrkr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4chgDz-j6251k9K7aMce6wY9YAj0mp6s</string>
	<key>GCM_SENDER_ID</key>
	<string>812473584481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tronglv.skyleClone</string>
	<key>PROJECT_ID</key>
	<string>skyle-clone-87034</string>
	<key>STORAGE_BUCKET</key>
	<string>skyle-clone-87034.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812473584481:ios:1aeeb481c2d859034dd320</string>
	<!-- Put me in the [my_project]/ios/Runner/Info.plist file -->
    <!-- Google Sign-in Section -->
    <key>CFBundleURLTypes</key>
    <array>
    	<dict>
    		<key>CFBundleTypeRole</key>
    		<string>Editor</string>
    		<key>CFBundleURLSchemes</key>
    		<array>
    			<!-- TODO Replace this value: -->
    			<!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
    			<string>com.googleusercontent.apps.812473584481-ssrtp6n2fdf5duvd3n1tag4auhkoafgu</string>
    		</array>
    	</dict>
    </array>
    <!-- End of the Google Sign-in Section -->
</dict>
</plist>